<!-- <ion-content> -->

  <!-- <ion-tabs slot="bottom" >
    <ion-tab title="Anuncios" icon="ion-android-list" tab="anuncios">
      <ion-nav-view name="anuncios"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Criar Anuncio" icon="ion-android-create" tab="criar-anuncio">
      <ion-nav-view name="criar-anuncio"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Meus Anuncios" icon="ion-person" tab="meus-anuncios" >
      <ion-nav-view name="meus-anuncios"></ion-nav-view>
    </ion-tab>
  </ion-tabs> -->
<!-- </ion-content> -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="anuncios">
      <ion-icon name="list-sharp"></ion-icon>
      <ion-label>Anuncios</ion-label>
    </ion-tab-button>

  
    <ion-tab-button tab="criar-anuncio">
      <ion-icon name="create-outline"></ion-icon>
      <ion-label>Criar Anuncio</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="meus-anuncios">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>Meus Anuncios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>